<h1>Welcome {{ playerName }}</h1>
<p>{{ gameStatus }}</p>

<br />
<div class="gameControl">
  <button (click)="game.actionStart(); gameStarted()">START</button>
  <button (click)="game.actionStop(); gameStopped()">STOP</button>
  <button (click)="game.actionReset()">RESET</button>
</div>
<div>
  <tetris-core
    #game
    (lineCleared)="onLineCleared()"
    (gameOver)="onGameOver()"
  ></tetris-core>
</div>

<button (click)="game.actionRotate()">ROTATE</button>
<button (click)="game.actionLeft()">LEFT</button>
<button (click)="game.actionRight()">RIGHT</button>
<button (click)="game.actionDown()">DOWN</button>
<button (click)="game.actionDrop()">DROP</button>

<p>Your score: {{ score }}</p>
<p>Time played: {{ gameplayTime }}</p>

<button (click)="onClick()">EXIT GAME</button>
