<h1>WELCOME TO TETRIS WORLD!</h1>

<form
  #playerForm="ngForm"
  (submit)="onSubmit(playerForm.form.value.playerName)"
>
  <label for="playerName">PLAYER NAME: </label>
  <input
    id="playerName"
    name="playerName"
    #playerNameModel="ngModel"
    minlength="3"
    placeholder="ENTER YOUR NAME"
    required
    ngModel
  />
  <p *ngIf="playerNameModel.touched && playerNameModel.invalid">
    PLEASE ENTER VALID PLAYER NAME (MIN 3 CHARACTERS)
  </p>
  <br />

  <label for="email">PLAYER EMAIL: </label>
  <input
    id="email"
    name="email"
    #emailModel="ngModel"
    required
    pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
    placeholder="ENTER YOUR EMAIL"
    ngModel
  />
  <p *ngIf="emailModel.touched && emailModel.invalid">
    PLEASE, ENTER A VALID EMAIL ADRESS
  </p>
  <br />

  <button [disabled]="playerForm.valid === false">Start the game!</button>
</form>
