.errorMessage {
  color: red;
}

.header {
  text-align: center;
}

.playerForm {
  display: grid;
  background-color: #222;
  padding: 1em;
  border: 1px solid #eee;
  margin: 2rem auto 0 auto;
  width: 33%;
  max-width: 600px;
  padding: 1em;
  text-align: center;

  input {
    background-color: #eee;
    border: 1px solid #222;
    padding: 0.7em;
    margin-bottom: 0.5rem;

    &:focus {
      outline: 3px solid gold;
    }

    &.ng-touched {
      &.ng-invalid {
        border: 3px solid red;
      }
    }
  }

  button {
    font-family: inherit;
    background-color: #eee;
    color: #222;
    padding: 0.7em;
    width: 100%;
    border: 0;
  }

  label {
    padding: 0.5em 0.5em 0.5em 0.5em;
  }
}
